{% extends 'shops/basic.html' %}

{% block css %}
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap" rel="stylesheet">
<style>
  .items{
    margin: auto;
    width: 65%;
    height: 28rem;
    justify-content: space-evenly;
  }

  .w-auto{
    background-color: black;
    color: white;
  }

  .typewriter{
    font-size: 100px;
    text-align: center;
  }
  .product-h1, .apply-font{
    font-family: 'IBM Plex Mono', monospace;
  }

  .product-h1{
    font-weight: 400;
    letter-spacing: 2px;
  }

  hr{
    border-top: 10px dotted black;
  }

  .product{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
    text-align: center;

  }

  .product.active{
    transform: translateY(0px);
    opacity: 1;
  }

  .product:hover{
    transform: rotate3d(100, 100,100, 5deg);
    transition: 1s ease;
    border-radius: 100px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.479)
  }
  @media (max-width: 600px){
    .typewriter{
      font-size: 60px;
    }
  }
</style>
{% endblock %}

{% block body %}

<div class="w-auto d-flex justify-content-center align-items-center t-effect">
  <p class="typewriter"></p>
</div>
<div class="row" style='margin: 0;'>
  {% for i in product %}
  
  <div class="col-lg-6 col-sm-12 product make-3d" style='padding: 20px; background-color: {{ i.colour }}' id='div{{ forloop.counter }}''>
    <h1 class="product-h1">{{ i.product_name }}</h1>
    <p class="lead apply-font">{{ i.short_desc }}</p>
    <hr style='background-color: {{ i.colour }}'>
    <p class="apply-font lead">Price: &#8377; {{ i.price }}</p>
    <p class="apply-font lead">Category: {{ i.category }}</p>
    <p class="apply-font" style='padding: 30px;'>{{ i.long_desc }}</p>
    <a class="btn btn-outline-dark" href='/shop/products/{{ i.id }}'>
      Quick View
    </a>
  </div>
  
  {% endfor %}
</div>


{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script>
    let speed = 100;
    let count = 0;
    let word = ""
    let index = 0
    let notReverse = true
    let indexReverse = 0
    let messages = ['Watches', 'Mobile Phones', 'Laptops', 'anything you want']

    function typewriter(){      
      letters = messages[count]
      document.querySelector('.typewriter').innerHTML = 'Buy ' + letters.substring(0, index) + '|'

      if (index == letters.length && notReverse){
        indexReverse = letters.length
        notReverse = false;
        if (count == messages.length-1)
        return;
      }
      else if (index != letters.length && notReverse){
        index++;
      }
      else if (!notReverse && index == 0){
        notReverse = true
        count++;
      }
      else{
        index--;
      }

      setTimeout(typewriter, speed)
      
    }
    

    if (localStorage.getItem('cart')==null){
      var cart = {};
    }
    else{
      var cart = JSON.parse(localStorage.getItem('cart'))
    }    

    window.addEventListener("load", function() {
        typewriter();

        let typewriterSpace = document.querySelector('.t-effect')
        console.log(window.getComputedStyle(typewriterSpace).height)
        typewriterSpace.style.height = window.innerHeight - parseInt(window.getComputedStyle(document.querySelector('.navbar')).height) + "px"
        console.log(window.getComputedStyle(typewriterSpace).height)
    })

    let products = document.querySelectorAll('.product')

    window.addEventListener('scroll', reveal)
    function reveal(){
      for (let i=0; i<products.length; i++){
        let totalTime = 50;

        if (i%2!=0){
          totalTime = 100;
        }
        if (totalTime < window.innerHeight - products[i].getBoundingClientRect().top){
          products[i].classList.add('active')
        }
      }
    }
  </script>
{% endblock %}

{% endblock %}